extends ../layout
block content 
  .container
    .row.justify-content-center
      .col-12 
        p &nbsp;
    .row.justify-content-center
      .col-12 
        p &nbsp;
    .row.justify-content-end.admin-adduser
      .col-2
        button.btn.btn-outline-dark.btn-block#refresh 刷 新
      .col-2
        a.btn.btn-outline-dark.btn-block(href="/admin/newuser") 新 增 
    .row.justify-content-center
      .col-12 
        table.table.table-hover.table-dark.table-striped.mytable
          thead 
            th UID
            th 角色
            th 密码
            th 录入时间
            th 状态
            th 备注 
            th 更新 
            th 删除
          tbody
            each item in users 
              tr(class="item-id-"+item._id)
                td #{item.uid}
                if item.uid == 1000
                  td 
                    span.text-primary 管理员
                else 
                  td 分发者
                td #{item.password}
                td #{moment(item.meta.updateAt).format('MM/DD HH:mm')}
                if item.state == 0
                  td 
                    span.text-danger 已冻结
                else
                  td 
                    span.text-success 正常
                td #{item.notice}
                td: a.btn.btn-outline-warning.btn-sm(target="_blank",href="../admin/updateuser/" + item._id) 更新状态 
                td 
                  button.btn.btn-outline-danger.btn-sm.del(type="button",data-id=item._id) 删除账号
    .row
      .col-12 
        span &nbsp;
    .row
      .col-12 
        span &nbsp;
  script(src="/js/admin.js")