extends ../layout
block content 
  .container
    .row.justify-content-center
      .col-12 
        p &nbsp;
    .row.justify-content-center
      .col-12 
        p &nbsp;
    .row.justify-content-end.admin-adduser
      .col-2
        button.btn.btn-outline-dark.btn-block#refresh 刷 新
      .col-2
        button.btn.btn-outline-dark.btn-block(data-toggle="modal", data-target="#newlocationModal") 新 增 
    .row.justify-content-center
      .col-12 
        table.table.table-hover.table-dark.table-striped.mytable
          thead 
            th LID
            th 定位日期
            th 定位时间
            th 状态
            th 详细信息
            th 删除
          tbody
            each item in locations 
              tr(class="item-id-"+item._id)
                td #{item.lid}
                td #{moment(item.meta.updateAt).format('YYYY/MM/DD')}
                td #{moment(item.meta.updateAt).format('h:mm:ss a')}
                td 
                  if item.state == 0 
                    p.text-warning 定位中...
                  else 
                    p.text-success 已完成！
                if item.state == 0 
                  td: a.btn.btn-outline-secondary.btn-sm.disabled 请 稍 后...
                else
                  td: a.btn.btn-outline-warning.btn-sm(target="_blank" href="../../detail/"+item._id) 点击查看
                td 
                  button.btn.btn-outline-danger.btn-sm.del(type="button",data-id=item._id)  删 &nbsp; 除
    .row
      .col-12 
        span &nbsp;
    .row
      .col-12 
        span &nbsp;
  #newlocationModal.modal.fade(role="dialog")
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header.justify-content-center
          h5.modal-title#modal-title 新增定位
        .modal-body.newlocation
          .form-group.row
            label.col-sm-2.col-form-label(for="inputUid") UID
            .col-sm-10
              input#inputUid.form-control(type="text", name="location[uid]", value=user.uid, readonly)
          .form-group.row
            label.col-sm-2.col-form-label(for="inputLid") 标识
            .col-sm-10
              input#inputLid.form-control(type="text", name="location[lid]")
        .row.justify-content-center
          .col-6
            button.btn.btn-outline-secondary.btn-block#genURL 一键生成专属定位链接
        .row.justify-content-center
          .col-12 
            p
        .row.justify-content-center
          .col-auto#Oloading
            .loading
        .row.justify-content-center
          .col-10#OURL
            textarea.form-control(rows="2")#url https://www.tianxiayijiaqin.com/location/locateuser?uid=1001&lid=011
        .row.justify-content-center
          .col-12 
            p
        .row.justify-content-center
          .col-12 
            p
  script(src="/js/locationlist.js")