extends ../layout
block content 
  script(type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.10&key=80bbd5d97acd2cf92f006d611bc852f7")
  .container
    .row.justify-content-center
      .col-12 
        p &nbsp;
    .row.justify-content-center
      .col-12 
        p &nbsp;
    .row.justify-content-center
      .col-12 
        p &nbsp;
    .row
      .col-7
        #location
          .loading 
          p 地图加载中...
      .col-5
        dl.dl-horizontal
          dt 省/自治区/直辖市
          dd=location.addressComponent.province
          dt 城市
          dd=location.addressComponent.city
          dt 区/县
          dd=location.addressComponent.district
          dt 街道/镇
          dd=location.addressComponent.township
          dt 街/村/路 门牌号
          dd=location.addressComponent.street
          dt 区号
          dd=location.addressComponent.citycode
          dt 详细地址
          dd=location.formattedAddress
    .row
      .col-12 &nbsp;
      .col-12 &nbsp;
  script(src="/js/detail.js")
  

         